<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/6948c267bf.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap" rel="stylesheet">
        <script src="/script.js"></script>
    </head>
    <body>
        <div class="big-wrap">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>Restaurant Explorer</h1>
             </div>
         </div>
         <div>
             <nav>
                 <ul>
                     <a href="/">HOME</a> 
                     <a href="/about">ABOUT</a>
                 </ul>
             </nav>
         </div>
        <div class="wrap">
        {{{body}}}
        </div>
        </div>
    </body>
</html>