<p class="about_p">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
dignissimos voluptate ad maxime. Totam perferendis dicta aperiam
eligendi earum sapiente optio consequatur quam, dolore omnis commodi
cumque porro natus nulla!
</p>