		<header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<div>
				<h1>About me</h1>
			</div>
			<div>
				<h2>This is my page</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
					dignissimos voluptate ad maxime. Totam perferendis dicta aperiam
					eligendi earum sapiente optio consequatur quam, dolore omnis commodi
					cumque porro natus nulla!
				</p>
			</div>
		</div>
