<h1>hello</h1>
<form action="/restaurants" method="POST">
    <div>
        <label for="name">Restaurant name</label>
        <input name="name" type="text" required/>
    </div>
    <div>
        <label for="image">Restaurant image</label>
        <input type="url" name="image" required/>
    </div>
    <button>Add Restaurant</button>
</form>