<!DOCTYPE html>
<section class="restaurants">
	{{#each restaurants}}
	<div class="card">
  		<img class="restaurant-img" src={{this.image}} style="width:250px">
  		<div class="container">
   			<h4><a href="/restaurants/{{this.id}}">{{this.name}}</a> </h4>
			<div class="menus">
			{{#each menus}}
				<p>{{this.title}}</p>
			{{/each}}
			</div>
			{{!-- <div class="admin">
				<p>Edit</p>
				<p>Delete</p>
			</div> --}}
  		</div>
	</div>
	{{/each}}
</section>