<section class="menu_main">
<h2>{{restaurant.name}}</h2>
    {{#each menus}}
        <article class="menu_container">
            <h3>{{this.title}}</h3>
            <dl>
                {{#each this.items}}
                    <div>
                        <dt>{{this.name}}</dt>
                        <dd>£{{this.price}}</dd>
                    </div>
                {{/each}}
            </dl>
        </article>
    {{/each}}
    <divx class="fb-like" data-href="http://localhost:3000/" data-width="500" data-layout="standard" data-action="like" data-size="large" data-share="true" data-colorscheme="dark"></divx>
</section>