*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: rgb(34, 34, 34);
	font-weight: 100;
}

@media screen and (min-width: 400px) {
	/* .restaurants {
		flex-direction: column;
	} */
	h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 60em) {
	/* .restaurants {
		flex-direction: column;
	} */
}

@media screen and (min-width: 80em) {
	.wrap {
		height: 50%;
		width: 80%;
	}

	h1 {
		font-size: 5em;
	}
}

.restaurants {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.restaurant-img {
	max-height: 130px;
}

.menus p {
	margin-top: 10px;
}

.menus {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background-color: #111111;
}

li {
	text-decoration: none;
	list-style-type: none;
}

a {
	text-decoration: none;
}

h4 {
	transition: all 0.5s ease-in-out;
	text-decoration: underline;
}

h4:hover {
	transform: scale(1.2);
}

header {
	display: flex;
}
nav {
	width: 90%;
	margin: 0 auto;
}

ul {
	width: 200px;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	padding-right: 100;
}

.wrap {
	height: 90%;
	margin: 0 auto;
	display: flex;
	margin-top: 5%;
	/* background-color: rgb(146, 146, 146); */
	/* border-radius: 15px; */
	/* width: 100%; */
	margin-top: 0;
}

.restaurants {
	display: flex;
	flex-wrap: wrap;
	flex-basis: auto;
	flex-grow: 1;
	justify-content: center;
}

.container {
	padding: 2px 16px;
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
}

h4 {
	font-weight: 300;
	opacity: 0.7;
	font-size: 1.6em;
}

div h2 {
	justify-self: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 250px;
	height: 350px;
	background-color: rgb(230, 227, 227);
	margin-left: 50px;
	border-radius: 5%;
	margin: 20px;
	/* position: relative; */
}

.card:hover {
	box-shadow: 0 8px 26px 0 rgba(255, 255, 255, 0.541);
}

.container h4 {
	margin: 0 auto;
	padding-top: 10px;
}

/* Hero image */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("background.jpg");

	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 300;
}

h1 {
	color: white;
	font-weight: 400;
}

.big-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* .menu_main {
	width: 50%;
	height: 100%;
	margin: auto;
	background-color: rgb(209, 209, 209);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
} */

.menu_main h2 {
	font-size: 2.5em;
	color: white;
	margin-top: 10px;
}

.menu_main h3 {
	text-decoration: underline;
	font-size: 1.5em;
	color: white;
	/* margin-left: 10px; */
}

.menu_main dt,
.menu_main dd {
	color: white;
	margin-left: 10px;
	margin-top: 10px;
}

.menu_main dd {
	margin-left: 80%;
}

.menu_main {
	margin: 0 auto;
	/* background-color: grey; */
}

nav {
	height: 50px;
	width: 100%;
	background-color: rgb(194, 113, 76);
}

nav ul {
	width: 100%;
	height: 100%;
	display: flex;
}

ul a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
	font-size: 2em;
}

ul a:hover {
	cursor: pointer;
	background-color: rgb(255, 195, 164);
	transform: scale(1.3);
}

.about_p {
	color: white;
}

.admin {
	display: flex;
	border: 1px solid red;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.add_new {
	height: 100%;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

/* Button */
.button {
	display: inline-block;
	margin: 0;
	padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	width: 85px;
	height: 50px;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button_primary {
	background-color: rgb(194, 113, 76);
}

.button_secondary {
	background-color: rgb(194, 113, 76);
	width: 65px;
}

.button-icon {
	display: inline-block;
	position: relative;
	top: -0.1em;
	vertical-align: middle;
	margin-right: 0.317rem;
}

.buttons {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* position: absolute; */
	bottom: 0;
	left: 0;
	z-index: 10;
	/* border: 1px solid red; */
}

section label {
	color: white;
}

/* Edit Menu */
.edit_menu {
	display: flex;
	width: 50%;
	margin: 0 auto;
	border: 1px solid red;
	flex-direction: column;
	font-size: 1.5em;
}

.individual_menu {
	height: 50%;
	width: 50%;
	/* border: 1px solid green; */
	margin: 0 auto;
}

.edit_title {
	width: 60%;
	margin: 0 auto;
	border: 1px solid red;
}

input {
	margin: auto;
}

.header_home {
	display: flex;
	flex-direction: column;
}

.img_cover {
	height: 81px;
	position: relative;
}

.stars {
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: grey; */
	background-color: rgb(194, 113, 76);
	width: 100%;
	margin: 0 auto;
	text-align: center;
	/* display: none; */
	visibility: hidden;
	opacity: 0;
	/* transition: all 0.5s ease-in-out; */
	transition: visibility 0s, opacity 0.25s ease-in-out;
}

.restaurant-img:hover + .stars,
.stars:hover {
	/* transition: all 0.2s ease-in-out; */
	visibility: visible;
	opacity: 0.8;
	/* display: block; */
}

.review_wrapper {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

.review_container {
	width: 400px;
	height: 500px;
	background-color: rgb(212, 212, 212);
	margin: 10px;
	border: black solid 1px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #3f3f3f;
}

.review_title {
	text-align: center;
}

.review_body {
	height: 300px;
	overflow: scroll;
	padding: 10px;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgb(143, 143, 143);
	box-shadow: 10px 10px 5px #808080;
}

.review_stars {
	text-align: center;
	cursor: pointer;
}

.review_author {
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
	height: 50px;
	justify-content: flex-end;
}
